%tr
  %th.label Template
  %td{:style => "text-align: left;"}
    - @content_template ||= @page.template
    %ul#template-chooser
      - ::Template.find(:all).each do |template|
        %li{:class => template == @content_template ? 'selected' : nil}= link_to_unless(template == @content_template, template.name.humanize.titleize, :template => template)
      %li{:class => @content_template.blank? ? 'selected' : nil}
        = link_to_unless(@content_template.blank?, "Blank Page", :template => '0')
- content_for :page_css do
  :sass
    ul#template-chooser 
      list-style: none
      margin: 0
      padding: 0
      li
        display: inline
        margin: 0
        padding: 0 0.5em
        &.selected
          font-weight: bold