.template_part {
  padding: 6px 0;
  border-bottom: 1px solid #DFDCD1;
  width: 100%;
}
.template_part label {
}
.template_part textarea.textarea, .template_part input.text {
  display: block;
}
.template_part textarea.textarea {
  width: 504px;
  height: 120px !important;
}
.template_part input.text {
  padding: 2px 0;
  font-size: 16px;
  width: 500px;
}
