- content_for :page_css do
  :sass
    #content table.index .node .template
      font-size: 115%
      font-weight: bold
      a
        color: black
        text-decoration: none
    .template_part
      background: white
      label
        display: none