%h3 
  Template Part Types (
  %span{:style => 'color:red'} Admin only!
  )
%p= link_to "New Part Type", new_admin_part_type_path
= render :partial => 'list'
%p= link_to "New Part Type", new_admin_part_type_path